/* This file is for your main application CSS */
/* @import "./phoenix.css"; */

/* css/phoenix.css */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 16px;
  letter-spacing: 0.5px;
}

body {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-bottom: 16px;
}

.container,
.phx-connected {
  padding: 1em 3em;
  height: 100vh;
  width: 100%;
}

/* css/app.css */
.details {
  height: 100%;
  width: 100%;
}

.weather {
  display: flex;
  justify-content: space-between;
}

/* the left side  */

.city_condition {
  font-weight: 600;
  font-size: 2rem;
}

.city_name {
  font-weight: 400;
}

.city_temp {
  font-weight: 800;
  font-size: 3rem;
}

/* the right side */
.weather-params {
  /* width: 15%; */
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  /* gap: 1.5em; */
}

.param-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.param {
  margin-left: 10px;
  line-height: 1.5;
}

.param_name {
  font-size: 0.9rem;
}

.param_value {
  font-size: 1.5rem;
  font-weight: 600;
}

/* the bottom dates */
.days {
  margin-top: 3rem;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.day-of-week {
  margin-bottom: 2em;
}

.day-of-week span {
  color: white;
  font-weight: 800;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time_hour {
  text-transform: uppercase;
}

.time_card {
  padding: 10px;
  margin-left: 10px;
}

.time_card:first-child {
  margin-left: 0px;
}

.time_card.active {
  box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.5);
}

/* paginator */
.paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.paginator span {
  /* display: inline-block; */
  border-radius: 50%;
  padding: 9px;
  /* font-size: 2rem; */
  font-weight: 800;
  background-color: rgb(18 18 19 / 45%);
}
